<h1> <%= @task.taskname %> </h2>

  <h2><a href="/tasks/<%=@task.id%>/edit">Click here to edit this task!</a></h2>

  <h3> Subtasks </h3>
  <% @task.subtasks.each do |subtask| %>
    <h4><%= subtask.details%></h4>
    <form method="post" action="/subtasks/<%=subtask.id%>/delete">
      <p>delete the above subtask</p>
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="submit">
    </form>
  <% end %>

  <h3> Create a new subtask! </h3>

  <form method="post" action="/subtasks">
    <input type="hidden" name="task_id" value="<%=@task.id%>">
    <input type="text" name="subtask[details]">
    <input type="submit" value="submit">
  </form>
