<h1> <%= @task.taskname %> <%= "- Completed" if @task.completed %> </h1>
  <% if @task.completed %>
    <form method="post" action="/tasks/<%=@task.id%>/uncompleted">

      <input type="submit" value="Mark Uncompleted">
    </form>
  <% else %>
    <form method="post" action="/tasks/<%=@task.id%>/completed">
      <input type="submit" value="Mark Completed">
    </form>
  <% end %>

  <h4><a href="/tasks/<%=@task.id%>/edit">Click here to edit this task!</a></h4>

  <h3> Subtasks </h3>
  <% @task.subtasks.each do |subtask| %>
    <h4><%= subtask.details%> <%="- Completed" if subtask.completed %></h4>
    <form method="post" action="/subtasks/<%=subtask.id%>/delete">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Subtask Above">
    </form>
    <% if subtask.completed %>
      <form method="post" action="/subtasks/<%=subtask.id%>/uncompleted">
        <input type="submit" value="Mark Subtask Uncompleted">
      </form>
    <% else %>
      <form method="post" action="/subtasks/<%=subtask.id%>/completed">
        <input type="submit" value="Mark Subtask Completed">
      </form>
    <% end %>
  <% end %>

  <h3> Create a new subtask! </h3>

  <form method="post" action="/subtasks">
    <input type="hidden" name="task_id" value="<%=@task.id%>">
    <input type="text" name="subtask[details]">
    <input type="submit" value="Create New Subtask">
  </form>
