
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h1>Create a new task!</h1>
<form method="post" action="/tasks">

  <label>Task: <input type="text" name="task[taskname]"></label>
  <label>Subtask: <input type="text" name="subtask[][details]"></label>
  <label>Subtask: <input type="text" name="subtask[][details]"></label>
  <label>Subtask: <input type="text" name="subtask[][details]"></label>

  <input type="submit" type="submit">


</form>
</div>
</div>


  <% unless @tasks.empty? %>
    <h1>Your pending tasks...</h1>
  <% end %>

  <% @tasks.each do |task| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h1> <%= task.taskname %> <%= "- Completed" if task.completed %> </h1>
    <form method="post" action="/tasks/<%=task.id%>/delete">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </form>
      <% if task.completed %>
        <form method="post" action="/tasks/<%=task.id%>/uncompleted">
          <button type="submit" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-star"></i>
          </button>
        </form>
      <% else %>
        <form method="post" action="/tasks/<%=task.id%>/completed">
          <button type="submit" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-star-empty"></i>
          </button>
        </form>
      <% end %>
      <button class="btn btn-warning btn-sm edit">
        <i class="glyphicon glyphicon-pencil"></i>
      </button>
      <form method="post" action="/tasks/<%=task.id%>" class="edit_form">

        <input type="hidden" id="hidden" name="_method" value="patch">
        <label>Change your name: <input type="text" value="<%=task.taskname%>" name="taskname"> </label>
        <input type="submit" value="submit">
      </form>



      <h3> Subtasks </h3>
      <button class="btn btn-sm btn-success add_subtask">
        <i class="glyphicon glyphicon-plus"></i>
      </button>

      <form method="post" action="/subtasks" class="add_subtask_form">
        <input type="hidden" name="task_id" value="<%=task.id%>">
        <input type="text" name="subtask[details]">
        <input type="submit" value="Create New Subtask">
      </form>

      <% task.subtasks.each do |subtask| %>
        <h4><%= subtask.details%> <%="- Completed" if subtask.completed %></h4>
        <form method="post" action="/subtasks/<%=subtask.id%>/delete">
          <input type="hidden" id="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger btn-sm">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </form>
        <% if subtask.completed %>
          <form method="post" action="/subtasks/<%=subtask.id%>/uncompleted">
            <button type="submit" class="btn btn-success btn-sm">
              <i class="glyphicon glyphicon-star"></i>
            </button>
          </form>
        <% else %>
          <form method="post" action="/subtasks/<%=subtask.id%>/completed">
            <button type="submit" class="btn btn-success btn-sm">
              <i class="glyphicon glyphicon-star-empty"></i>
            </button>
          </form>
        <% end %>
      <% end %>
        </div>

  </div>
  <% end %>

  <script src="/js/home.js"></script>
